.first-category{
    margin-top: 200px;
}
.flex-column li{
    padding: 10px;
}
.side-nav{
    width: 130px;
    position: relative;
    top: -500px;
    bottom: 150px;

    position: sticky;
    top: 0;
    bottom: 0;
}
.flex-column li a{
    color: black;
}
.main-navbar{
    position: sticky;
    top: 0px;

}
.main-navigation li{
    margin-top: 10px;
}
.main-navigation li a{
    color: black;
}
.search-form{
    width: 300px;

    position: relative;
    top: -30px;
    left: 300px;
}
.search-form ul li a{
    position: relative;
    left: 140px;
    bottom: 30px;
}
.main-navigation{
    width: 400px;
    top: 40px;

}
.btn-Search{
    position: relative;
    top: -37px;
    left: 100px;
}

/* small card */

.small-card-title{
    position: relative;
    top: 40px;
    font-size: 16px;

    position: absolute;
    top: 200px;
    font-size: 16px;
}
.small-card-btn{
    position: relative;
    top: 30px;
    left: 100px;

    position: absolute;
    top: 230px;
    left: 120px;
}
.small-card-para{
    position: relative;
    top: 80px;

    position: absolute;
    top: 240px;
}
.small-card-img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 50px;
}

/* card 1 */
.card1{
    height: 580px;

    position: relative;
    left: 200px;
    top: -50px;

    border-radius: 30px;
}
.card1 img{
    width: 280px;

    position: absolute;
    top: 80px;
    left: 100px;

}
.card1 h5{
    font-size: 25px;
    position: absolute;
    top: 400px;
}
.card1 a{
    position:absolute;
    top: 520px;
    left: 350px;
}
.card1 p{
    position:absolute;
    top: 530px;
    left: 250px;
    font-weight: bold;
}

/* card 2 */
.card2{

    top: -630px;
    position: relative;
    left: 750px;

    border-radius: 20px;
}



/* card 3 */

.card3{
    position: relative;
    top: -610px;
    left: 750px;

    border-radius: 20px;
}



/* card 4 */

.card4{
    position: relative;
    border-radius: 20px;
    left: 1050px;
    top: -1190px;
}


/* card 5 */
.card5{
    position: relative;
    border-radius: 20px;
    left: 1050px;
    top: -1170px;
}


/* card 6 */

.card6{
    position: relative;
    left: 200px;
    top: -1100px;
    border-radius: 30px;
}

/* card 7 */

.card7{

    top: -1380px;
    position: relative;
    left: 480px;

    border-radius: 20px;
}

/* card 8 */

.card8{
    position: relative;
    top: -1660px;
    left: 750px;

    border-radius: 20px;
}


/* card 9 */

.card9{
    position: relative;
    border-radius: 20px;
    left: 1050px;
    top: -1940px;
}

/* card 10 */

.card10{
    position: relative;
    border-radius: 20px;
    left: 200px;
    top: -1870px;
}


/* card 11 */

.card11{


    position: relative;
    left: 470px;
    top: -2150px;

    border-radius: 30px;
}

/* card 12 */

.card12{

    top: -2430px;
    position: relative;
    left: 750px;

    border-radius: 20px;
}


/* card 13 */

.card13{
    position: relative;
    top: -2710px;
    left: 1050px;

    border-radius: 20px;
}


/* card 14 */

.card14{
    position: relative;
    border-radius: 20px;
    left: 200px;
    top: -2640px;
}

/* card 15 */

.card15{
    position: relative;
    border-radius: 20px;
    left: 480px;
    top: -2920px;
}