.main-navbar{
    position: sticky;
    top: 0px;

}
.main-navigation li{
    margin-top: 10px;
}
.main-navigation li a{
    color: black;
}
.search-form{
    width: 300px;

    position: relative;
    top: -30px;
    left: 50px;
}
.main-navigation{
    width: 400px;
    top: 40px;

}
.btn-Search{
    position: relative;
    top: 0px;
    left: 30px;
}
.card-grp{
    position: relative;
    top: 70px;
}
.card{
    border-radius: 30px;
}